body{
    background: pink;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background-color: #9b8a8a;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
ul{
    display: flex;
    gap: 2%;
    width: 100%;
    justify-content: center;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: right;
    align-content: center;
    align-items: center;
}
header div{
    width: 50%;
    height: 100%

}

.contact{
display: flex;
justify-content: center;

}